
*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 1000;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #ffb4a2;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}
@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* Custom style */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}
section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold);
}

:focus {
    outline: 3px solid var(--fw-bold);
    outline-offset: 3px;
}

/* Button */
.btn {
    padding: 0.5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 250ms ease-in-out;
    margin-top: 22px;
    margin-bottom: auto;
}

.btn:hover {
    transform: scale(1.1);
}
.btn-contact {
    display: inline-block;
    padding: 0.5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 250ms ease-in-out;
    margin-top: 22px;
    margin-bottom: auto;
    position: fixed;
    left: 1400px;
    top: 0;
    bottom: auto;
    right: 100px;

}

.btn-contact:hover {
    transform: scale(1.1);
}

/* typography */

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}
h2 {
    font-size: var(--fs-h2);
}
h3 {
    font-size: var(--fs-h3);
}
.section__title {
    margin-bottom: 0.25em;
}
.section__title--intro {
    font-weight: var(--fw-reg);
}

.section_subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}
.section__subtitle--intro,
.section__subtitle--about {
    padding: 0.25em 1em;
    background-color: var(--clr-accent);
    font-family: var(--ff-secondary);
}
.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

/* .logo {
  max-width: 100px;
  background: #16e0bd;
} */

.navbar {

    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}
.nav__link {
    color: indianred;
    font-weight: var(--fs-body);
    font-size: var(--fs-h2);
    text-decoration: none;
}
.nav__link:hover {
    color: var(--clr-dark);
}
.nav-toggle {
    padding: 0.5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-open  {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
    transform: translateX(0);

}
.nav-open .nav-toggle {
    position: fixed;

}

.nav-open .hamburger {
    transform: rotate(0.625turn);

}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);

}

.nav-open .hamburger::after {
    opacity: 0;

}
.hamburger {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    display: block;
    position: relative;
    margin-top: 17px;

}

.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}
.hamburger::before {
    top: 6px;
}
.hamburger::after {
    bottom: 6px;
}
/* Intro Section */
.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
}
.section__subtitle--intro {
    display: inline-block;
}
.section__title--intro strong {
    display: block;
}

@media (min-width: 450px) {
    .intro {
        display: grid;
        grid-template-areas:
      'img title'
      'img subtitle';
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-columns: min-content max-content;
    }
}

.intro__img {
    grid-area: img;
    min-width: 350px;
    position: relative;
    z-index: 2;
}
.section__subtitle--intro {
    align-self: start;
    grid-column: -1/1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 9.5em);
}

/* My services */

.My__services {
    background-color: var(--clr-dark);
    background-size: cover;
    color: var(--clr-light);
    background-blend-mode: multiply;
    text-align: center;
}
.section__title--services {
    color: var(--clr-accent);
    position: relative;
}
.section__title--services::after {
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}
.services {
    margin-bottom: 4em;
}
.service {
    max-width: 600px;
    margin: 0 auto;
}
@media (min-width: 450px) {
    .services {
        display: grid;
        max-width: 1000px;
        margin: auto;
        margin-left: auto;
        margin-right: auto;
    }
    /* .service + .service {
      margin-left: 2em;
    } */
}
.services {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2em;
}

/* About ME */

.about--me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
    max-width: 290px;
    position: relative;
}
@media (min-width: 450px) {
    .about--me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas:
      'title img'
      'subtitle img'
      'text img';
        grid-column-gap: 2em;
    }
}
.section__title--about {
    grid-area: title;
}
.section__subtitle--about {
    grid-column: 1/-1;
    grid-row: 2;
    position: relative;
    left: -2em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
}

.about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;

}

/* My Work */
.my--work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}
.my--work p {
    color: var(--clr-accent);
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.portfolio--item {
    background: var(--clr-dark);
    overflow: hidden;
}
.portfolio--item {
    transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}
.portfolio--item:hover,
.portfolio--item:focus {
    transform: scale(1.2);
    opacity: 0.75;
}

/* Footer */
.footer {
    background-color: var(--clr-dark);
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-weight: var(--fw-bold);
}
.footer a {
    color: var(--clr-accent);
    text-decoration: none;
}
.footer--link {
    font-size: var(--fs-h3);
}
.footer--link:hover,
.social-list__link:hover {
    opacity: 0.7;
}
.footer--link:hover {
    text-decoration: underline;
}
.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}
.social-list__items {
    margin: 0 0.5em;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 3px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.contact-page{

    background-color: var(--clr-dark);
    width: 100%;
    bottom: 100%;
    top: 100%;
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 10%;


}
input[type=submit] {
    background-color: var(--clr-accent);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: var(--clr-accent);
}


.container {
    width: 50%;
    position: relative;
    border-radius: 30px;
    background-color: #f2f2f2;
    padding: 20px;
    top: 80px;
    bottom: auto;
    display: flex;
    left: 25%;

}
.h1-contact {
    justify-content: center;
    top: 25px;
    position: relative;
    display: flex;
    color: white;
}
.btn-contact__page{
    padding: 0.5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 250ms ease-in-out;
    margin-top: 10px;
    margin-bottom: auto;
}

.btn-contact__page:hover {
    transform: scale(1.1);
}



